<HTML><BODY>
<H1>Showing <%= c.length %></H1>
<ol>
  <% c.forEach(function(cafe) { %>
  <li><a href=/showdetails?id=<%= cafe.id %>><%= cafe.name %></a></li>
  <% });                        %>
<ol>
</BODY></HTML>
