<html>
<body>
<H2>Details of all Kitties</H2>
<ol>
<% for (var i=0; i<kitties.length; i++) { %>
	<li>Name: <%= kitties[i].name %>
	<% if (kitties[i].age != null) { %>
		Age: <%= kitties[i].age %>
	<% } %>
<% } %>
</ol>
</html>
</body>
